.container{
    margin-top: 100px;
}
body{
    background-image: url("../img/blue.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#noWaste{
    margin-top: 200px;
    max-width: 100%;
    border-radius: 50%;
    height: auto;
}
#cfgBanner{
    margin-bottom: 100px;
}
.mainText{
    font-family: 'Cutive Mono', monospace;
    margin-left: 100px;
    margin-right:100px;
}
#logo{
    height: 45px;
    margin-bottom: -10px;
    margin-right: -30px;
}
.nav-link{
    font-family: 'Cutive Mono', monospace;
    margin-right: 20px;
    text-emphasis: bold;
}
