<html>
<head>
  <title> Page Title </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/css/answer.css"/>
</head>
<body>
    <!-- start of top bar -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
        <a href="#" class ="navbar-brand">
            <img id="logo" src="../static/img/logo.png">
        </a>
        <button class="navbar-toggler" data-toggle="collapse"
        data-target="#navbarcollapse"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarcollapse">
            <ul class="navbar-nav">
                  <li class="navbar-item">
                      <a href="/about" class="nav-link">About Us</a>
                  </li>
                  <li class="navbar-item">
                      <a href="/news" class="nav-link">In The News</a>
                  </li>
                  <li class="navbar-item">
                      <a href="/quiz" class="nav-link">Take our Quiz!</a>
                  </li>
                  <li class="navbar-item">
                      <a href="/map" class="nav-link">Find Your Nearest Refill Shop!</a>
                  </li>
                  <li>
                    <div id="signIn">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Newsletter Sign-up</button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div class="modal fade" id ="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign In</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">

                              <form method="POST" action="/send">
                                  <div class="form-group row">
                                      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                      <div class="col-sm-10">
                                      <input type="email" name="address" class="form-control" id="inputEmail3" placeholder="Email">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label for="inputPassword3" class="col-sm-2 col-form-label">Name</label>
                                      <div class="col-sm-10">
                                      <input type="text" name="emailname" class="form-control" id="inputPassword3" placeholder="Name">
                                      </div>
                                  </div>
                                <fieldset class="form-group">
                                    <div class="row">
                                    <legend class="col-form-label col-sm-2 pt-0">Choices</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="gridRadios1" id="gridRadios1" value="option1">
                                        <label class="form-check-label" for="gridRadios1">
                                            Refill Shops
                                        </label>
                                        </div>
                                        <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="gridRadios2" id="gridRadios2" value="option2">
                                        <label class="form-check-label" for="gridRadios2">
                                            Reuseable Products
                                        </label>
                                        </div>
                                        <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="gridRadios3" id="gridRadios3" value="option3">
                                        <label class="form-check-label" for="gridRadios3">
                                            Sustainable Brands
                                        </label>
                                        </div>
                                        <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="gridRadios4" id="gridRadios3" value="option3">
                                        <label class="form-check-label" for="gridRadios3">
                                            Zero-Waste News
                                        </label>
                                        </div>
                                    </div>
                                    </div>
                                    <br>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Sign up</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
  <!-- end of top bar -->
  <div>
  {% if score <= 5 %}
  <h2 class="overallscore">Wow - you are so zero waste!!!</h2>

  {% elif score <= 11 %}
  <h2 class="overallscore">Some work needed!!!</h2>

  {% else %}
  <h2 class="overallscore">You are TERRIBLE at zero waste!!!</h2>

  {% endif %}
  </div>
  <h3>Thanks for taking our quiz! Please see some recommended resources based on your answers</h3>
    <div>
    {% if Q1 == 4 or Q1 ==3 %}
    <p>To find out more about cutting down on household waste - click <a href="https://www.madeleineolivia.co.uk/blog/30-ways-to-reduce-your-waste">here</a>!</p>
    {% endif %}
    </div>
    <div>
    {% if Q2 == 4 or Q2 ==3 %}
    <p>To find out more about Ecobricks, click <a href="https://www.ecobricks.org/">here</a>!</p>
    {% endif %}
    </div>
    <div>
    {% if Q3 == 3 %}
    <p>To learn about alternatives to plastic straws, click <a href="https://www.diffordsguide.com/encyclopedia/1405/cocktails/straws-10-alternatives-to-plastic-straws">here</a>!</p>
    {% endif %}
    </div>
    <div>
    {% if Q4 == 3 %}
    <p>To find alternatives to plastic carrier bags - click <a href="https://medium.com/@greenhandle/beatplasticpollution-top-5-alternative-green-shopping-bags-3303118ce9a">here</a>!</p>
    {% endif %}
    </div>
</body>
</html>
