<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Zero Waste in the Legal and Political Sphere</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
	<link rel="stylesheet",type="text/css" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya" rel="stylesheet">

	<title></title>
</head>
<body>
	<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
        <a href="#" class ="navbar-brand">Zero Waste</a>
        <button class="navbar-toggler" data-toggle="collapse"
        data-target="#navbarcollapse"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarcollapse">
					<ul class="navbar-nav">
              <li class="navbar-item">
                  <a href="/about" class="nav-link">About Us</a>
              </li>
              <li class="navbar-item">
                  <a href="/news" class="nav-link">In The News</a>
              </li>
              <li class="navbar-item">
                  <a href="/quiz" class="nav-link">Take our Quiz!</a>
              </li>
              <li class="navbar-item">
                  <a href="/map" class="nav-link">Find Your Nearest Refill Shop!</a>
              </li>
              <li>
                  <div id="signIn">
                      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Newsletter Sign-up</button>
                  </div>
              </li>
          </ul>
        </div>
    </nav>
      <div class="modal fade" id ="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign In</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-3">Email</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">Password</label>
                                <div class="col-md-9">
                                <input class="form-control" type="password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 offset-sm-3">
                                    <button type="submit" class="btn btn-primary">Login Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</nav>


	<div class="container mt-3">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="animated jackInTheBox">What does the law say about tackling waste?</h1>
				<hr/>

				<p> There have been several changes in policies made in tackling waste in the UK and Wales. Currently, there are 6 key features of UK waste policies being administered. Below are the key features: </p>

				<div class="row">
					<p>
				  <div class="col">
						<h1>1. Waste hierarchy</h1>
						<hr/>
						<h7><p>The UK-wide policies on waste are built on an EU concept known as the waste hierarchy. The waste hierarchy requires anyone managing waste to consider first prevention, preparing for reuse and recycling followed by other methods of recovery, for example energy recovery and, lastly, disposal. Prevention, preparing for reuse and recycling should be given priority order in any waste legislation and policy.</p></h7>
            <br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZS_8p-6XC7U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</p>


				 <div class="w-100"></div>
				 <hr>
					<p>
				  <div class="col">
						<hr/>
						<h1>2. Diversion of waste from the landfill</h1>
						<hr/>
						<h7><p>Based on the waste hierarchy, a key objective of government policy is to reduce the level of waste going to landfill and to get people to recycle more. The Environmental Permitting (England and Wales) Regulations 2010 and Landfill Allowance Scheme (Wales) impose restriction on the type and amount of waste that can be disposed of in landfills in England and Wales. Scotland and Northern Ireland also have similar landfill regulations. 
                        </p></h7>
            <br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Xh_E0ONtE6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div></p>
				  <div class="w-100"></div>
					<hr>


				  <div class="col">
					<hr/>
					<h1>3. Reduction of waste from the economy</h1>
					<hr/>
					<h7><p>The amount of waste produced by industries and businesses around the UK is quite high. The UK waste policy aims to reduce the amount of waste produced by the commercial sector.
						Different policy changes have been made to get businesses and industries to reduce waste. For instance, the Producer Responsibility Obligations (Packaging Waste) Regulations 2007 place responsibility on the producers of packaging waste to recover and recycle a certain amount of packaging. They are also required to design their products in such a way that encourages easy dismantling and recycling at the end of the products' life cycle. Similar producer responsibility laws cover Waste Electrical and Electronic Equipment (WEEE), End of Life Vehicles and batteries by requiring producers to recover a certain amount.</p>
					</h7>
          <br />
		  <iframe width="560" height="315" src="https://www.youtube.com/embed/JgcWmE_2T6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

					 <div class="w-100"></div>
					 <hr>

					<p>
				  <div class="col">
						<hr/>
						<h1>4. Controlling hazardous waste</h1>
						<hr/>
						<h7><p>Laws affect the way that hazardous waste can be disposed of in England and Wales. (Scotland and Northern Ireland have equivalent regulations.) Although it may still be possible for individual householders to dispose of a small quantity of hazardous waste in the normal waste collection, larger amounts have to be disposed in specially-managed waste facilities. It is not possible to dispose of hazardous liquid waste, batteries, whole and shredded tyres in landfills in the UK. The Environment Agency provides guidance on what to do if you produce, move, receive or dispose of hazardous waste. UK waste policy also aims to reduce the amount and level of hazard of wastes produced in the first place.
						</p></h7>
            <br />
			<iframe width="560" height="315" src="https://www.youtube.com/embed/JestBZ22hRg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div></p>
					<hr>

					<div class="col">
					<hr/>
                    <h1>5. Shared responsibility</h1>
					<hr/>
					<h7>UK waste policies operate on the basis of "shared responsibility." Everyone generates some amount of waste, so everyone has a part to play in preventing further waste growth. All parts of society also have a responsibility to reuse, recycle and dispose of waste properly.</h7>
          <br />
		  <iframe width="560" height="315" src="https://www.youtube.com/embed/awlxNxPamdA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div></p>
					<hr>

				</div>
    </div>
	</div>

</body>
</html>
