
<html>
  <head>
    <title> Page Title </title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />
  </head>
<body>


<div class="container">
  <div class="row">
    <form action="/answer" method="post">
      <div class="form-group">
        <h2>Time for a Quiz!</h2>
      </div>
      <div>
        <h3>Test your knowledge of Zero Waste </h3>
      </div>
      <div class="col-sm-3">
      <p>Q1: How much waste does your household get through per month?</p>
        <input type="radio" name="Q1" id="option1" value="Q1A1"> Less than a small carrier bag </input><br>
        <input type="radio" name="Q1" id="option2" value="Q1A2"> 1 Binbag </input><br>
        <input type="radio" name="Q1" id="option1" value="Q1A3"> 2-4 Binbags </input><br>
        <input type="radio" name="Q1" id="option2" value="Q1A4"> 5+ Binbags </input><br>
      </div>
      <div class="col-sm-3">
      <p>Q2: How many EcoBricks have you made in the past year?</p>
        <input type="radio" name="Q2" id="option1" value="Q2A1"> Over 10! </input><br>
        <input type="radio" name="Q2" id="option2" value="Q2A2"> 1-5 </input><br>
        <input type="radio" name="Q2" id="option3" value="Q2A3"> Oh EcoBricks! I've heard of them, never got round to making one though. </input><br>
        <input type="radio" name="Q2" id="option4" value="Q2A4"> What's an EcoBrick? </input><br>
      </div>
      <div class="col-sm-3">
      <p>Q3: Do you use plastic straws?</p>
        <input type="radio" name="Q3" id="option1" value="Q3A1"> Never! Paper all the way </input><br>
        <input type="radio" name="Q3" id="option2" value="Q3A2"> Only sometimes when I am out </input><br>
        <input type="radio" name="Q3" id="option3" value="Q3A3"> Yes, I love plastic straws </input><br>
      </div>
      <div class="col-sm-3">
      <p>Q4: Do you take your own bags to the supermarket?</p>
        <input type="radio" name="Q4" id="option1" value="Q4A1"> Always </input><br>
        <input type="radio" name="Q4" id="option2" value="Q4A2"> Sometimes, if I remember </input><br>
        <input type="radio" name="Q4" id="option3" value="Q4A3"> Nah, they're only 10p each </input><br>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  </div>

 <div class="row" id="wasteimages">
     <div class="col-sm-3">
   <div class="flip-box">
     <div class="flip-box-inner">
        <div class="flip-box-front">
      <img class= "img-responsive" class="img-rounded" src='../static/images/home_waste.jpg'>
   </div>
    <div class="flip-box-back">
     <p class="waste-text">Einkorn Sourdough</p>
   </div>
   </div>
 </div>
 </div>
<div class="col-sm-3">
 <div class="flip-box">
   <div class="flip-box-inner">
      <div class="flip-box-front">
     <img class="img-responsive" class="img-rounded" src='../static/images/ecobricks.jpg'>
    </div>
   <div class="flip-box-back">
     <p class="waste-text">Seeded Sourdough</p>
   </div>
     </div>
   </div>
     </div>
<div class="col-sm-3">
     <div class="flip-box">
       <div class="flip-box-inner">
    <div class="flip-box-front">
      <img class="img-responsive" class="img-rounded" src='../static/images/paper_straw.jpg'>
   </div>
    <div class="flip-box-back">
     <p class="waste-text">Sourdough Baguette</p>
   </div>
     </div>
   </div>
     </div>
    <div class="col-sm-3">
      <div class="flip-box">
          <div class="flip-box-inner">
         <div class="flip-box-front">
          <img class="img-responsive" class="img-rounded" src='../static/images/bags.jpg'>
      </div>
        <div class="flip-box-back">
        <p class="waste-text">Sourdough Baguette</p>
      </div>
      </div>
    </div>
  </div>
</div>


</div>

</body>
</html>
